@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Georgian Drive<br />
    Georgian College<br />
    Barrie, ON, CA <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lalit.sharma@georgiancollege.com">lalit.sharma@georgiancollege.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:paramvir.singh@georgiancollege.com">paramvir.singh@georgiancollege.com</a>
</address>