@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Store</h1>
    <p>This store will provide you the platform to post an ad to sell the product and the people can see the ad.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Electronics</h2>
        <button id="BtnSave" runat="server"> <a href="https://localhost:44396/Electronic"><img src="~/Content/Images/Electronic.png" height="250 px" , width="250 px" /></a></button>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <button id="BtnSave" runat="server"> <a href="https://localhost:44396/Job"><img src="~/Content/Images/job.jpg" height="250 px" , width="250 px" /></a></button>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <button id="BtnSave" runat="server"> <a href="https://localhost:44396/Car"><img src="~/Content/Images/Car.jpg" height="250 px" , width="250 px" /></a></button>
    </div>
    <div class="col-md-4">
        <h2>Real Estate</h2>
        <button id="BtnSave" runat="server"> <a href="https://localhost:44396/Estate"><img src="~/Content/Images/Estate.jpg" height="250 px" , width="250 px" /></a></button>
    </div>
    <div class="col-md-4">
        <h2>Suggestion</h2>
        <button id="BtnSave" runat="server"> <a href="https://localhost:44396/Suggestion"><img src="~/Content/Images/Feedback.jpg" height="250 px" , width="250 px" /></a></button>
    </div>
</div>
