@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>This store will provide you the platform to post an ad to sell the product and the people can see the ad.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Electronics</h2>
        <p>Press the Create to create the Electronics posting and See the Electronics to check all Electronics for sale</p>
        <p><a class="btn btn-default" href="http://localhost:65391/Electronic/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65391/Electronic">See the Electronics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <p>Press the Create to create the job posting and See the jobs to check all job postings</p>
        <p><a class="btn btn-default" href="http://localhost:65391/Job/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65391/Job">See the jobs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p>Press the Create to create the Car posting and See the Cars to check all Cars for sale</p>
        <p><a class="btn btn-default" href="http://localhost:65391/Car/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65391/Car">See the Cars &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Real Estate</h2>
        <p>Press the Create to create the Rental posting and See the houses to check all houses for rent</p>
        <p><a class="btn btn-default" href="http://localhost:65391/Estate/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:65391/Estate">See the Houses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suggestion</h2>
        <p>Press the Create and See to create and see the Feedbacks</p>
        <p><a class="btn btn-default" href="http://localhost:65391/Suggestion">Create and See Feedbacks &raquo;</a></p>
    </div>
</div>
